.todo-item {
    border: 1px solid #D0D3D4;
    border-radius: 5px;
    padding: 0px 8px;
    line-height: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.todo-active {
    border: 1.5px solid #17A589;
}